<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-centrado">Cita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="obtenerCitaAleatoria()">Nueva Cita</ion-button>

  <ion-card *ngIf="citaAleatoria">
    <ion-card-header>
      <ion-card-title>"{{ citaAleatoria.frase }}"</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      - {{ citaAleatoria.autor }}
    </ion-card-content>
  </ion-card>
</ion-content>
