<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Gestión de citas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Campo para escribir la cita -->
  <ion-item>
    <ion-label position="stacked">Cita</ion-label>
    <ion-input 
      placeholder="Escribe la cita (mínimo 5 caracteres)" 
      [(ngModel)]="frase"
      required
    ></ion-input>
  </ion-item>

  <!-- Campo para escribir el autor -->
  <ion-item>
    <ion-label position="stacked">Autor</ion-label>
    <ion-input 
      placeholder="Escribe el autor (mínimo 2 caracteres)" 
      [(ngModel)]="autor"
      required
    ></ion-input>
  </ion-item>

  <!-- Botón para agregar la cita -->
  <ion-button expand="block" (click)="agregarCita()">
    Agregar +
  </ion-button>

  <!-- Listado de citas -->
  <ion-list>
    <ion-item *ngFor="let cita of citasService.citas; let i = index">
      <ion-label>
        <h2>{{ cita.frase }}</h2>
        <p>{{ cita.autor }}</p>
      </ion-label>
      <!-- Botón para eliminar la cita -->
      <ion-button fill="solid" color="danger" (click)="eliminarCita(i)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
